@model AgendaMedicas.Models.Agenda

@{
	ViewData["Title"] = "Agenda";
}

<h1>Edit</h1>

<h4>Agenda</h4>
<hr />
<div class="container text-dark mt-5">
	<h1 class="text-center display-5 ">Cadastro de <span class="fw-bold">Pacientes</span></h1>

	<asp-action ="Edit">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="AgendaId" />
		<div class="row gap-3 mb-3">
			<div class="col-12">
				<div class="form-group">
					<label asp-for="PacienteId" class="control-label"></label>
					<input asp-for="PacienteId" class="form-control" />
					<span asp-validation-for="PacienteId" class="text-danger"></span>
				</div>
			</div>
		</div>

		<div class="row gap-3 mb-3">
			<div class="col-12">
				<div class="form-group">
					<label asp-for="MedicoId" class="control-label"></label>
					<input asp-for="MedicoId" class="form-control" />
					<span asp-validation-for="MedicoId" class="text-danger"></span>
				</div>
			</div>
		</div>

		<div class="row gap-3 mb-3">
			<div class="col-12 col-md">
				<div class="form-group">
					<label asp-for="DataConsulta" class="control-label"></label>
					<input asp-for="DataConsulta" class="form-control" />
					<span asp-validation-for="DataConsulta" class="text-danger"></span>
				</div>
			</div>
			<div class="row gap-3 mb-3">
				<div class="col-12 col-md">
					<div class="form-group">
						<label asp-for="Status" class="control-label"></label>
						<input asp-for="Status" class="form-control" />
						<span asp-validation-for="Status" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Edit" class="btn btn-primary" />
				</div>
			</div>
		</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
