@page
@model RegisterConfirmationModel
@{
	ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
	if (@Model.DisplayConfirmAccountLink)
	{
		<p>
			Este aplicativo não possui um remetente de e-mail real registrado no momento. Consulte <a href="https://aka.ms/aspaccountconf">esta documentação</a> para saber como configurar um remetente de e-mail real.
			Normalmente, o e-mail seria enviado para: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta</a>
		</p>
	}
	else
	{
		<p>
			Verifique seu e-mail para confirmar sua conta.
		</p>
	}
}

