@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4 text-dark"><i class="bi bi-person-vcard"></i>Agenda</span></h1>
	<p class="display-4 text-dark"><span class="fw-bold">Médica</span></p>

	<a class="btn btn-outline-dark btn-lg" asp-area="Identity" asp-page="/Account/Login">Agende sua consulta, com a gente</a>
</div>
